@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");
@import url("font-awesome.min.css");


/* Arquivo dividido por tamanho de tela (@media screen). Cada tamanho tem suas 
tags padrão, boxes, linhas, containers e artigos*/

/* Tags padrão */

body {
	line-height: 1;
	border: 0;
	padding-top: 3.5em;
}

ul {
	list-style: none;
}

html {
	box-sizing: border-box;
	border: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.85em;
	color: #888;
	font-weight: 300;
	font-size: 13pt;
}

a {
	transition: color .2s ease-in-out;
	color: #43B3E0;
	text-decoration: none;
}

	a:hover {
		font-weight: bold;
		color: rgba(0, 0, 0, 0.7) !important;
	}

	a img {
		border: 0;
	}

strong {
	font-weight: 600;
	color: #3e3e3e;
}

i, em {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	color: #3e3e3e;
	margin: 0 0 0.75em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
	color: inherit;
}

h2, h3, h4, h5, h6 {
	font-weight: 700;
}

h1 {
	font-size: 3.25em;
	letter-spacing: -0.025em;
	font-weight: 300;
}

	h1 strong {
		font-weight: 700;
	}

h2 {
	font-size: 2em;
	letter-spacing: -0.015em;
}

h3 {
	font-size: 1.5em;
	letter-spacing: -0.015em;
}

em, i {
	font-style: italic;
}

/* Separador */
hr {
	border: 0;
	border-top: solid 1px #444;
	border-top-color: rgba(0, 0, 0, 0.35);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
	height: 1px;
	margin: 3em 0;
}

p, ul, ol, dl, table {
	margin-bottom: 2em;
}

header {
	margin: 0 0 3em 0;
}

	header > p {
		font-size: 1.25em;
		margin: 0;
	}
	
	.lista-projetos {
		font-size: 1.25em;
		text-align: left;
		margin: 0;
	}


/* Containers para responsividade */

	.container {
		margin: 0 auto;
		max-width: calc(100% - 50px);
		width: 1200px;
	}
		.container.medio {
			width: 900px;
		}

		@media screen and (max-width: 1680px) {

			.container {
				width: 1200px;
			}
				.container.medio {
					width: 900px;
				}

		}

		@media screen and (max-width: 1280px) {

			.container {
				width: 960px;
			}
				.container.medio {
					width: 720px;
				}

		}

		@media screen and (max-width: 980px) {

			.container {
				width: 100%;
			}
				.container.medio {
					width: 75%;
				}

		}

		@media screen and (max-width: 736px) {

			.container {
				width: 100%;
				max-width: calc(100% - 30px);
			}
				.container.medio {
					width: 100%;
				}

		}

/* Linhas para responsividade (Row) */

	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
		margin-top: -25px;
		margin-left: -25px;
		padding: 25px 0 0 25px;
	}

		.row > * {
			box-sizing: border-box;
		}

		.row.aln-center {
			justify-content: center;
		}
		
		.row > .col-1 {
			width: 8.3333333333%;
		}

		.row > .col-2 {
			width: 16.6666666667%;
		}

		.row > .col-3 {
			width: 25%;
		}

		.row > .col-4 {
			width: 33.3333333333%;
		}

		.row > .col-5 {
			width: 41.6666666667%;
		}

		.row > .col-6 {
			width: 50%;
		}

		.row > .col-7 {
			width: 58.3333333333%;
		}

		.row > .col-8 {
			width: 66.6666666667%;
		}

		.row > .col-9 {
			width: 75%;
		}

		.row > .col-10 {
			width: 83.3333333333%;
		}

		.row > .col-11 {
			width: 91.6666666667%;
		}

		.row > .col-12 {
			width: 100%;
		}

		@media screen and (max-width: 1680px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
				margin-top: -25px;
				margin-left: -25px;
			}

				.row > * {
					box-sizing: border-box;
					padding: 25px 0 0 25px;
				}

				.row.aln-center {
					justify-content: center;
				}

		}

		@media screen and (max-width: 1280px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
				margin-top: -25px;
				margin-left: -25px;
			}

				.row > * {
					box-sizing: border-box;
					padding: 25px 0 0 25px;
				}
				
				.row.aln-center {
					justify-content: center;
				}

		}

		@media screen and (max-width: 980px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
				margin-top: -25px;
					margin-left: -25px;
			}

				.row > * {
					box-sizing: border-box;
					padding: 25px 0 0 25px;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row > .col-1-medio {
					width: 8.3333333333%;
				}

				.row > .col-2-medio {
					width: 16.6666666667%;
				}

				.row > .col-3-medio {
					width: 25%;
				}

				.row > .col-4-medio {
					width: 33.3333333333%;
				}

				.row > .col-5-medio {
					width: 41.6666666667%;
				}

				.row > .col-6-medio {
					width: 50%;
				}

				.row > .col-7-medio {
					width: 58.3333333333%;
				}

				.row > .col-8-medio {
					width: 66.6666666667%;
				}

				.row > .col-9-medio {
					width: 75%;
				}

				.row > .col-10-medio {
					width: 83.3333333333%;
				}

				.row > .col-11-medio {
					width: 91.6666666667%;
				}

				.row > .col-12-medio {
					width: 100%;
				}

		}

		@media screen and (max-width: 736px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
					margin-top: -15px;
					margin-left: -15px;
					padding: 15px 0 0 15px;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row > .col-1-pequeno {
					width: 8.3333333333%;
				}

				.row > .col-2-pequeno {
					width: 16.6666666667%;
				}

				.row > .col-3-pequeno {
					width: 25%;
				}

				.row > .col-4-pequeno {
					width: 33.3333333333%;
				}

				.row > .col-5-pequeno {
					width: 41.6666666667%;
				}

				.row > .col-6-pequeno {
					width: 50%;
				}

				.row > .col-7-pequeno {
					width: 58.3333333333%;
				}

				.row > .col-8-pequeno {
					width: 66.6666666667%;
				}

				.row > .col-9-pequeno {
					width: 75%;
				}

				.row > .col-10-pequeno {
					width: 83.3333333333%;
				}

				.row > .col-11-pequeno {
					width: 91.6666666667%;
				}

				.row > .col-12-pequeno {
					width: 100%;
				}
		}

/* Artigos e Seções (ultimos filhos sem margem) */

	section, article {
		margin-bottom: 3em;
	}

	section > :last-child,
	article > :last-child,
	section:last-child,
	article:last-child {
		margin-bottom: 0;
	}

/* Imagens */

	.image {
		display: inline-block;
		position: relative;
	}

		.image img {
			display: block;
			width: 100%;
		}

		.image.destacado {
			display: block;
			width: 100%;
			margin: 0 0 2em 0;
			z-index: 1;
			
		}
		.image.destacado:hover {
			z-index:999 !important;
			overflow: outside !important;
		}
			.image.destacado:hover img {
			  -webkit-transform: scale(1.25);
			  /* Safari and Chrome */
			  -moz-transform: scale(1.25);
			  /* Firefox */
			  -ms-transform: scale(1.25);
			  /* IE 9 */
			  -o-transform: scale(1.25);
			  /* Opera */
			  transform: scale(1.25);
			  
			  transition: .2s ease-in-out;
			  
			  transition-delay: .5s;
			}
		
		

/* Botões */

	button,
	.botao {
		transition: background-color .2s ease-in-out;
		position: relative;
		display: inline-block;
		color: #fff !important;
		text-decoration: none;
		font-weight: 700;
		border: 0;
		outline: 0;
		cursor: pointer;
		border-radius: 8px;
		text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
		overflow: hidden;
		box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
		background-color: #1d3e6b;
		padding: 1em 2.35em 1em 2.35em;
		font-size: 1.1em;
		max-width: 24em;
	}
		.botao:hover {
			background-color: rgba(0, 0, 0, 1);
			color: #fff !important;
		}

		button:active,
		.botao:active {
			background-color: #1d3e6b;
			top: 1px;
		}

		button.large,
		.botao.grande {
			font-size: 1.5em;
			letter-spacing: -0.025em;
		}

		button.alt,
		.botao.alt {
			background-color: #444;
			box-shadow: inset 0px 0px 0px 1px #242424, inset 0px 2px 1px 0px rgba(255, 255, 255, 0.2);
		}

			button.alt:hover,
			.botao.alt:hover {
				background-color: #4f4f4f;
				color: #fff !important;
			}

			button.alt:active,
			.botao.alt:active {
				background-color: #3f3f3f;
			}

/* Listas */

	ul {
		list-style: disc;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}


/* Redes sociais */

	ul.social {
		cursor: default;
		margin: 0;
		list-style: none;
		padding-left: 0;
	}

		ul.social li {
			position: relative;
			display: inline-block;
			margin: 0.25em;
			top: 0;
			padding-left: 0;
		}

			ul.social li a {
				transition: top .2s ease-in-out;
				display: block;
				width: 48px;
				height: 48px;
				border-radius: 6px;
				top: 0;
				position: relative;
			}

				ul.social li a:before {
					transition: background-color .2s ease-in-out;
					background-color: #444;
					border-radius: 6px;
					box-shadow: inset 0px 0px 0px 1px #282828, inset 0px 2px 1px 0px rgba(255, 255, 255, 0.1);
					color: #2E2E2E !important;
					display: block;
					font-size: 26px;
					height: 48px;
					line-height: 48px;
					text-align: center;
					outline: 0;
					overflow: hidden;
					text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
					width: 48px;
				}

				ul.social li a.fa-facebook {
					background-color: #3C5A98;
				}
				
				ul.social li a.fa-linkedin {
					background-color: #006599;
				}

				ul.social li a.fa-github {
					background-color: #FAFAFA;
				}

				ul.social li a.fa-instagram {
					background-color: #ba12a6;
				}
				
				ul.social li a.fa-stack-overflow {
					background-color: #f48024;
				}

				ul.social li a:hover {
					top: -5px;
				}

					ul.social li a:hover:before {
						background-color: transparent;
					}


/* Boxes */

	.box {
		background: #fff;
		box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
		text-align: center;
		padding: 2em;
	}

		.box.estilo1 {
			padding: 3em 2em 3.5em 2em;
		}

			.box.estilo1 h3 {
				margin-bottom: 0.5em;
			}

		.box.estilo2 h3 {
			margin-bottom: 0.25em;
		}

		.box.estilo2 .image {
			position: relative;
			left: 2em;
			top: 2em;
			margin: -4em 0 4em -4em;
			width: auto;
		}

/* Icones */

	.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
		}

		.icon > .label {
			display: none;
		}

		.icon.destacado {
			color: #1d3e6b;
			display: block;
			margin: 0 0 1.5em 0;
			cursor: default;
		}	
		
		.icon.download {
			color: #1d3e6b;
			margin: 0 0 1.5em 0;
		}	

			.icon.destacado:before {
				font-size: 6em;
			}

/* Artigos */

	.artigo {
		box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
		padding: 8em 0 8em 0;
		text-align: center;
	}

		.artigo.estilo1 {
			background-image: none;
			background-color: #fff;
		}

		.artigo.estilo2 {
			background-color: #eaeaea;
			text-shadow: 1px 1px 0px #fff;
		}

		.artigo.estilo3 {
			background-color: #f4f4f4;
			text-shadow: 1px 1px 0px #fff;
		}

		.artigo.estilo4 {
			background-color: #303030;
			color: #999;
			text-shadow: -1px -1px 0px #181818;
		}

			.artigo.estilo4 h1, .artigo.estilo4 h2, .artigo.estilo4 h3, .artigo.estilo4 h4, .artigo.estilo4 h5, .artigo.estilo4 h6 {
				color: #fff;
			}

/* Menu */

	#nav {
		background-color: #282828;
		text-align: center;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 10000;
		cursor: default;
		height: 3.5em;
		line-height: 3.5em;
	}

		#nav ul {
			margin-bottom: 0;
			list-style: none;
			padding-left: 0;
		}

		#nav li {
			display: inline-block;
			padding-left: 0;
		}

		#nav a {
			transition: background-color .2s ease-in-out;
			position: relative;
			display: block;
			color: #fff;
			text-decoration: none;
			outline: 0;
			font-weight: 600;
			border-radius: 8px;
			color: #fff;
			height: 2.5em;
			line-height: 2.5em;
			padding: 0 1.25em;
		}

			#nav a:hover {
				color: #fff !important;
				background: #787878;
			}

			#nav a.active {
				background: #484848;
			}

				#nav a.active:before {
					content: '';
					display: block;
					position: absolute;
					bottom: -0.6em;
					left: 50%;
					margin-left: -0.75em;
					border-left: solid 0.75em transparent;
					border-right: solid 0.75em transparent;
					border-top: solid 0.6em #282828;
				}

/* Artigos */

	body > article {
		margin-bottom: 0;
	}

	#inicial {
		padding: 10em 0 10em 0;
		text-align: left;
	}

		#inicial .image {
			border-radius: 100%;
			width: 20em;
			height: 20em;
			margin: 0;
		}

			#inicial .image img {
				border-radius: 100%;
			}

		#inicial h1 {
			margin-top: 0.35em;
		}

		#inicial p {
			font-size: 1.5em;
			line-height: 1.75em;
		}

			#inicial p a {
				color: inherit;
			}

	#endereco {
		color: #666;
		font-size: 1em;
		line-height: 1em;
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		float: bottom;
	}

		#endereco li {
			display: inline-block;
			border-left: solid 1px rgba(0, 0, 0, 0.5);
			box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 0.1);
			padding: 0 0 0 1em;
			margin: 0 0 0 1em;
		}

			#endereco li:first-child {
				border: 0;
				box-shadow: none;
				padding-left: 0;
				margin-left: 0;
			}

		#endereco a {
			transition: color .2s ease-in-out;
			color: inherit;
		}

			#endereco a:hover {
				color: #777;
			}

/* Grande */

	@media screen and (max-width: 1280px) {

			body {
				font-size: 11pt;
			}

			header {
				margin: 0 0 4em 0;
			}


		/* Artigos */

			#inicial {
				padding: 8em 0;
			}

			#inicial .image {
				width: 24em;
				height: 24em;
				margin: 0;
			}

	}

/* Médio */

	@media screen and (max-width: 980px) {

		/* Artigos */

			#inicial {
				text-align: center;
				padding: 5em 0;
			}

			#inicial .image {
				margin: 0 auto 2em auto;
			}

	}

/* Pequeno */

	@media screen and (max-width: 736px) {

			body {
				padding-top: 44px;
			}

			body {
				line-height: 1.75em;
				font-size: 10pt;
				letter-spacing: 0;
			}

			h1, h2, h3, h4, h5, h6 {
				font-size: 1.25em;
				margin: 0 0 0.4em 0;
			}

			h1 {
				font-size: 2.25em;
				line-height: 1.25em;
			}

			header {
				margin: 0 0 2em 0;
			}

				header > p {
					font-size: 1.25em;
				}

			hr {
				margin: 1.5em 0 2em 0;
			}

			section, article {
				clear: both;
			}

		/* Botões */

			button,
			.botao {
				text-align: center;
				font-size: 1.2em;
				width: 100%;
				padding: 1em 0 1em 0;
			}

				button.grande,
				.botao.grande {
					font-size: 1.2em;
					letter-spacing: 0;
				}

		/* Redes sociais */

			ul.social {
				padding: 1em 0.5em 0 0.5em;
			}

				ul.social li {
					margin: 0.5em 0.5em 0.5em 0.5em;
				}

					ul.social li a {
						top: 0 !important;
					}

						ul.social li a:before {
							background-color: transparent !important;
						}

		/* Box */

			.box {
				padding: 30px 20px 30px 20px;
				margin: 0 0 20px 0 !important;
			}

				.box .image.destacado {
					position: relative;
					left: 20px;
					top: 20px;
					margin: -50px 0 50px -40px;
					width: auto;
				}

				.box.estilo1 {
					max-width: 32em;
					margin-left: auto !important;
					margin-right: auto !important;
				}

				.box.estilo2 {
					max-width: 32em;
					margin-left: auto !important;
					margin-right: auto !important;
				}

		/* Artigos */

			.artigo {
				padding: 3em 0;
				text-align: center;
			}

		/* Menu */

			#nav {
				height: 44px;
				line-height: 44px;
			}

				#nav a {
					padding: 0 0.75em;
					height: inherit;
					line-height: inherit;
					border-radius: 0;
				}

					#nav a:hover {
						background-color: transparent;
					}

		/* Artigos */

			#inicial {
				padding: 3em 0;
			}

				#inicial .image {
					width: 15em;
					height: 15em;
					margin-bottom: 0;
				}

				#inicial p {
					font-size: 1em;
				}

		/* Endereco */

			#endereco {
				font-size: 1em;
				margin: 0;
			}

				#endereco li {
					display: block;
					margin: 1em 0 0 0;
					padding: 0;
					box-shadow: none;
					border-left: 0;
				}

					#endereco li:first-child {
						margin-top: 0;
					}

	}
	
	#map {
		position: relative;
		display:block;
		z-index: 9999;
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
	   
	#chartdiv {
	  width: 100%;
	  height: 500px;
	}

	.amcharts-export-menu-top-right {
		top: 10px;
		right: 0;
	}
	